.section-offer {
  padding: 0 20px 30px 150px;
}
.offer-head {
  text-align: center;
  color: rgb(11, 94, 27);
  font-size: 45px;
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 20px;
}
.offer-para {
  font-size: 18.5px;
  font-weight: normal;
  margin-bottom: 25px;
  line-height: 1.5;
}
.offer-image-container {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-bottom: 90px;
}
.offer-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 346.62px;
  height: 355.56px;
  border-radius: 9.93px;
  padding: 20px 0 0 20px;
}
.info-container p {
  padding: 10px;
  font-size: 15px;
}
.image-text {
  width: 373.43px;
  height: 539.39px;
  border-radius: 18.86px;
  border: 1px solid rgb(176, 176, 176);
  padding: 0;
  margin: 0;
}
.info-head {
  font: 20.75px;
  font-weight: 600;
}
.info {
  width: 346.62px;
  font: 50px;
  font-weight: normal;
}
