.offer-head {
  color: #2e9900;
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

.section-offer {
  padding: 20px;
}

.offer-para {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 25px;
  line-height: 1.5;
}

.whatweoffer-hr {
  border-color: rgb(46, 153, 0);
  margin-top: 20px;
  width: 100%;
}

.offer-image {
  width: 100%;
}
/* .info-container p {
  padding: 10px;
  font-size: 12px;
  width: 168px;
} */

.offer-parent {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.offer-container {
  border: 1px solid grey;
  border-radius: 10px;
  flex: 1;
}

.info-head {
  font: 20.75px;
  font-weight: 600;
  padding: 10px;
}
.info- {
  font-size: 10px;
  font-weight: normal;
  padding: 7px;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .offer-parent {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: 1442px) {
  .offer-parent {
    flex-direction: row;
    gap: 50px;
  }
}
