.aboutPgImg1 {
  width: 100%;
}
.aboutustxt {
  position: absolute;
  top: 260px;
  left: 580px;
  color: white;
  font-size: 57px;
  font-weight: 700;
}

.aboutuscontainer {
  display: flex;
  gap: 40px;
  flex-direction: column;
  margin: 50px 30px 20px 90px;
}

.nav-menu li .link {
  text-decoration: none;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding-bottom: 15px;
}

.aboutPgImg2 {
  width: 100%;
}

.aboutUsPgTxt1 {
  width: 100%;
  padding: 20px 10px;
}

.aboutUsPgTxt1 h2 {
  font-size: 32px;
  font-weight: 700;
  color: black;
  text-align: left;
}

.aboutUsPgTxt1 span {
  font-size: 22px;
  font-weight: 500;
  color: black;
  text-align: justify;
}
.aboutUsPgTxt1 h2:nth-child(3) {
  margin-top: 30px;
}
.aboutUsPgTxth2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 50px 70px 5px 90px;
}
.aboutUsPgTxth2 h2 {
  font-size: 32px;
  font-weight: 700;
  color: black;
  text-align: left;
}
.aboutUsPgTxt1 h2 {
  font-size: 32px;
  font-weight: 700;
  color: black;
  text-align: left;
}
.aboutUsPgTxth2 span {
  font-size: 22px;
  font-weight: 500;
  color: black;
  text-align: justify;
  line-height: 1.5;
}
.aboutPgImg3 {
  width: 100%;
  margin: 10px 0;
}

.aboutus-h2 {
  color: black;
  text-align: left;
  margin-left: 90px;
}
.box {
  padding: 40px;
}
.aboutUsPgTxth3 {
  background-color: #fbeebc;
  gap: 5px;
  padding: 50px;
  text-align: center;
  margin-bottom: 30px;
  color: black;
}
.aboutUsPgTxth3 h2 {
  font-size: 32px;
  font-weight: 700;
  color: black;
}
.aboutUsPgTxth3 span {
  width: 100%;
  height: 154px;
  font-size: 22px;
  font-weight: 500;
  color: black;
  font-weight: 900;
  text-align: center;
}

.our_approach {
  margin-bottom: 20px;
}

.aboutUsPgTxth4 h2 {
  font-size: 32px;
  font-weight: 700;
  color: black;
  text-align: left;
}
.aboutUsPgTxth4Box1 {
  width: 100%;
  background-color: #95a4fc;
  border-radius: 10px;
  color: black;
  padding: 25px 35px 20px 35px;
}
.aboutUsPgTxth4Box2 {
  width: 100%;
  color: black;
  background-color: #c6c7f8;
  border-radius: 10px;
  padding: 25px 35px 20px 35px;
}
.aboutUsPgTxth4Box3 {
  width: 100%;
  color: black;
  background-color: #a8c5da;
  border-radius: 10px;
  padding: 25px 35px 20px 35px;
}
.aboutUsPgTxth4Box4 {
  width: 100%;
  background-color: #b1e3ff;
  border-radius: 10px;
  padding: 25px 35px 20px 35px;
  color: black;
}
.aboutUsPgTxth4Box5 {
  width: 100%;
  background-color: #a1e3cb;
  border-radius: 10px;
  padding: 35px 15px 20px 35px;
}
.aboutUsPgTxth4Box6 {
  width: 100%;
  background-color: #baedbd;
  border-radius: 10px;
  padding: 35px;
  text-align: justify;
}

.keyfeatures-head {
  font-size: 19px;
  font-weight: 600;
  color: black;
  text-align: left;
  margin-bottom: 12px;
}

.keyfeatures-txt {
  font-size: 16px;
  font-weight: 500;
}
.aboutUsPgTxth4Box1Img {
  display: block;
  margin: 10px auto;
}
.aboutUsPgTxth4Flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin: 35px 90px;
}

.aboutus-second-container {
  display: flex;
  flex-direction: column;
}
.ourTeam {
  margin-left: 90px;
  /* width: 100%;
  height: 2550px; */
}
.teamhr {
  border: 1px solid #979797;
}
.ourTeamA {
  font-size: 32px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}
.agriI {
  font-size: 28px;
  font-weight: 700;
  color: #216d00;
  margin-bottom: 40px;
}
.teamImg {
  width: 100%;
}

.teamName {
  font-size: 28px;
  font-weight: 700;
  margin-top: 15px;
}
.teamRole {
  font-size: 24px;
  font-weight: 600;
  color: #216d00;
  margin-top: 10px;
}
.teamInspire {
  font-size: 22px;
  font-weight: 500;
  margin-top: 15px;
}
.teamCards {
  width: 100%;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1), 0 16px 24px rgba(0, 0, 0, 0.1),
    0 24px 32px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding-bottom: 20px;
}
.teamCard {
  margin: 15px;
}

.teamCardsGrid {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 10px;
  margin: 30px 90px 30px 0;
}
.topMargin {
  margin-top: 45px;
}
.joinAboutUs {
  font-size: 36px;
  font-weight: 700;
}
.togetherAboutUs {
  margin-left: 90px;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  text-align: left;
}
.exploreSign {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}
.exploreaboutUs {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  color: #2e9900;
  font-size: 20px;
  font-weight: 700;
}
.userImg {
  margin-top: 9px;
  margin-left: 10px;
}
.userImg2 {
  margin-top: 25px;
  margin-left: 10px;
}
.userInput {
  padding-left: 35px;
  width: 520px;
  height: 36px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #aba5a5;
}
.contantFormAboutUs {
  display: flex;
  gap: 200px;
  margin-top: 80px;
  margin-left: 150px;
}
.contantHeadingAboutUs {
  width: 750px;
  font-size: 32px;
  font-weight: 700;
}
.topMarginAboutUs {
  margin-top: 15px;
}
#textareaAboutUs {
  width: 100%;
  height: 92px;
  border-radius: 5px;
  margin-top: 15px;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #aba5a5;
}
.sendAboutUs {
  width: 240px;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
}

.aboutus-header {
  margin-top: 10px;
}

.flex {
  display: flex;
}
@media screen and (min-width: 1025px) {
  .about-para {
    flex-direction: column;
  }

  .aboutuscontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin: 50px 30px 20px 90px;
  }

  .aboutus-second-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin: 50px 70px 5px 90px;
  }

  .ourstory-subtext {
    margin-bottom: 20px;
  }
  .about-content {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .aboutUsPgTxth4Flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }

  .aboutUsPgTxth4Box1 {
    width: 100%;
    background-color: #95a4fc;
    border-radius: 10px;
    padding: 25px 15px 20px 35px;
  }

  .teamCardsGrid {
    grid-template-columns: repeat(3, 2fr);
  }
}
