.about-heading {
  margin: 0;
  color: rgb(46, 153, 0);
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
}

.container h1,
.container p {
  margin: 0;
}
.about-content {
  display: flex;
  flex-direction: column;
}

.about-para h3 {
  margin-bottom: 45px;
  padding-right: 70px;
  font-size: 32px;
  font-weight: bold;
}
.about-para-one {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: normal;
  padding-right: 70px;
  line-height: 1.4;
}
.about-para-two {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: normal;
  padding-right: 70px;
  line-height: 1.4;
}
.learn-more {
  margin-top: 5px;
  background-color: rgb(241, 201, 40);
  font-weight: 500;
  padding: 10px 20px; /* Add padding to the button */
  border: 2px solid rgb(241, 201, 40);
  border-radius: 8px;
  font-weight: 600;
  font-size: 22px;
  width: 202px;
  height: 60px;
}
hr {
  width: 1440px;
  border-color: rgb(46, 153, 0);
  margin-top: 20px;
}

/* .about-para {
  display: flex;
  flex-direction: column;
} */

@media screen and (max-width: 768px) {
  .about-para {
    flex-direction: column;
  }
}
