.footer-yellowcolor {
  color: rgb(241, 201, 40);
  display: inline !important;
  cursor: pointer;
}

.onboarding-container {
  background-color: #e8e8e8;
}

.get-started button {
  margin: 15px 0;
  background-color: rgb(241, 201, 40);
  border-radius: 10px;
  padding: 12px 25px;
  color: #000;
  font-size: 20px;
  border: none;
  font-weight: 500;
}

.onboarding-child {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 0 12px;
  flex-wrap: wrap;
}

.onboarding-child1 {
  border: 1px solid grey;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 15px;
}

.onboarding-child2 {
  border: 1px solid grey;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 15px;
}

.handshake_image {
  display: block;
  margin: auto;
}

.farmer_image {
  display: block;
  margin: auto;
}

.onboarding-header {
  text-align: center;
  font-size: 32px;
  padding: 50px 0;
}

.closeicon {
  margin-left: 0;
  margin-right: auto;
  position: absolute;
  right: 0%;
  margin-bottom: 10px;
  padding: 30px;
}

.onboarding-paragraph {
  padding: 0 15px;
  margin-bottom: 12px;
}

.onboarding-footer {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}

.onboarding-content{
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .onboarding-child {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
