.footer-yellowcolor {
  color: rgb(241, 201, 40);
  display: inline !important;
}

.onboarding-container {
  background-color: #e8e8e8;
}

.onboarding-child {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  margin: 0 12px;
}

.onboarding-child1 {
  border: 1px solid grey;
  background: #fff;
  border-radius: 10px;
}

.onboarding-child2 {
  border: 1px solid grey;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 15px;
}

.handshake_image {
  display: block;
  margin: auto;
}

.farmer_image {
  display: block;
  margin: auto;
}

.onboarding-header {
  text-align: center;
  font-size: 32px;
  padding: 50px 0;
}

.close_icon {
  margin-left: 0;
  margin-right: auto;
}

.onboarding-paragraph {
  padding: 0 15px;
  margin-bottom: 12px;
}
