.displayout {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.displayout1 {
  border: 1px solid grey;
}

.productimage-flex {
  display: flex;
}

.action-button {
  display: flex;
  gap: 20px;
}

.stars {
  display: flex;
}
.cards {
  padding: 0;
}

.description {
  display: inline;
}

/* @media (max-width: 1441px) {
  .displayout {
    display: flex;
    flex-direction: row;
  }
} */

@media (min-width: 1025px) and (max-width: 1366px) {
  .displayout {
    display: flex;
    flex-direction: row;
  }
}
