.displayout {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 25px;
  margin-left: 90px;
  margin-bottom: 20px;
  margin-right: 190px;
}

.displayout1 {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.productimage-flex {
  display: flex;
  justify-content: space-between;
}

.action-button {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.love-image {
  padding: 10px;
  background: rgb(243, 239, 239);
  border-radius: 50%;
}

.product {
  width: 100%;
  padding: 15px;
}

.colorednumber {
  color: #4880ff;
  margin: 5px 0;
}

.product-name {
  font-weight: 900;
}

.stars {
  display: flex;
}
.cards {
  padding: 0;
}

.description {
  padding: 15px 15px 15px 15px;
}

.buynowbtn {
  padding: 10px 20px;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  background-color: rgb(241, 201, 40);
  color: black;
  border-radius: 8px;
  border: none;
}

.addtocartbtn {
  padding: 10px 20px;
  align-items: center;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 14px;
  color: rgb(241, 201, 40);
  border: 1px solid rgb(241, 201, 40);
  border-radius: 8px;
}

.marketplace-flex {
  display: flex;
  justify-content: space-between;
  margin: 20px 150px 20px 90px;
}

.marketplace-flex1 {
  display: flex;
  gap: 20px;
}

.bold-h3 {
  font-weight: 900;
}

.marketplace-topheading {
  margin-left: 90px;
  margin-bottom: 30px;
  font-family: Inter;
  font-size: 57px;
  font-weight: 700;
  line-height: 64px;
  color: #2e9900;
}

.filter-btn {
  padding: 12px 25px; /* Add padding to the button */
  font-weight: 600;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.1s ease;
  font-size: 15px;
  border: 1px solid grey;
  background-color: #fff;
}
.filter-btn:hover {
  background-color: rgb(247, 209, 59);
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 500px;
  gap: 20px;
}

.search-icon {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
}

.search-btn {
  padding: 12px 25px;
  font-weight: 600;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.1s ease;
  font-size: 15px;
  border: none;
  background-color: rgb(247, 209, 59);
}

.seemore-btn {
  padding: 12px 30px;
  font-weight: 600;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.1s ease;
  font-size: 15px;
  border: none;
  background-color: rgb(247, 209, 59);
  text-align: center;
}

.seemore-container {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.search-input {
  width: 100%;
  padding-left: 50px;
  box-sizing: border-box;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.search-input:focus {
  border-color: #666;
  outline: none;
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .displayout {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1440px) {
  .displayout {
    display: flex;
    flex-direction: row;
  }
}
