.sidebar {
  height: 100%;
  width: 250px;
  background-color: white;
  padding-top: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  padding: 20px 0 20px 25px;
  gap: 10px;
  cursor: pointer;
}

.subscription-header {
  font-size: 14px;
}

.manage-invoice {
  font-size: 13px;
}
.sidebar-anchor {
  color: #0d0c0c;
  text-decoration: none;
}

.setting-icon {
  color: black;
  fill: black;
}
.sidebar-list:hover {
  background-color: #2e9900;
  border-radius: 7px;
}
.search-container {
  background: white;
  position: relative;
}

input[type="text"] {
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 7px;
  cursor: pointer;
  width: 250px;
}

.payment-header {
  background-color: rgb(241, 245, 241);
  padding-left: 220px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.general-information {
  flex: 1;
}
.save-button {
  padding: 7px 25px;
  border-radius: 5px;
  background-color: rgb(241, 201, 40);
  color: rgb(0, 0, 0);
  font-weight: 900;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}

.delete-button {
  padding: 7px 25px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-weight: 900;
  border: 1px solid rgb(241, 201, 40);
  cursor: pointer;
  margin: 10px 0;
}

.search-icon {
  position: absolute;
  width: 15px; /* Adjust as needed */
  height: auto;
  top: 11px;
  margin-left: 12px;
}

.bottom {
  margin-top: auto;
}

.top-container {
  font-weight: 700;
}

.top-section {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.second-container {
  background: #eaf5e6;
  margin-bottom: 20px;
  width: 100%;
  padding-left: 20px;
}

.second-part-setting {
  background-color: rgb(240, 247, 240);
  margin-top: 20px;
  width: 100%;
  padding-left: 20px;
}

.setting-header {
  margin: 40px 0;
}

.second-section {
  margin-right: 15px;
}

.third-container {
  display: flex;
}

.information {
  display: flex;
  gap: 20px;
  background-color: rgb(241, 245, 241);
  padding: 20px;
}

.subscription {
  background-color: rgb(241, 245, 241);
  padding-left: 220px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  padding-bottom: 30px;
}

.update-btn {
  padding: 7px 25px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-weight: 900;
  border: 1px solid rgb(241, 201, 40);
  cursor: pointer;
  margin: 30px 0;
}

.manage-invoice {
  margin-top: 10px;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 12px auto 0 auto;
  max-width: 1032px;
}

.third-section {
  display: flex;
  gap: 20px;
}

.label {
  display: block;
  margin: 20px 0 10px 0;
  font-weight: bolder;
  font-size: 14px;
}

.border-bottom {
  border-bottom: 1px inset grey;
  padding: 15px 0 5px 0;
  font-size: 19px;
  font-weight: 600;
}

.profile-section {
  display: flex;
  justify-content: space-between;
}

.profile {
  display: flex;
  gap: 10px;
  align-items: center;
}

.profile-heading {
  min-width: max-content;
  font-size: 15px;
}

.settings-container {
  background-color: rgb(220, 243, 220);
  width: 100%;
}

.settings-button {
  gap: 15px;
  display: flex;
}

.padding-icons {
  display: flex;
  min-width: max-content;
  gap: 20px;
  background-color: white;
  align-items: center;
  padding: 3px 45px 3px 5px;
  font-size: 14px;
  margin-bottom: 12px;
}

.padding-icons:hover {
  background: #2e9900;
  cursor: pointer;
}

.input-padding {
  margin: 0 0 70px 0;
}

.icon {
  width: 25px;
  height: 25px;
  color: black;
}

.personal-information {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icons:hover {
  cursor: pointer;
  background-color: #2e9900;
}
.input-field-container {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .third-section {
    display: flex;
    gap: 20px;
  }
}
