.section1 {
  width: 100%;
  height: 309px;
  background: url("../../assets/welcomebackgrounimage.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.homepage_aboutus {
  display: flex;
  flex-direction: column;
}

.firstp {
  background: green;
  padding: 20px 20px 40px 20px;
}

.text {
  color: white;
  font-size: 28px; 
  width: 326px;
  margin: 25px 0 0 15px;
}

.agritechlink {
  color: rgb(248, 200, 9);
}

.mission {
  background: green;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5;
  color: white;
}

.get-started_button {
  background-color: rgb(241, 201, 40);
  border-radius: 10px;
  padding: 16px 25px;
  color: #000;
  font-size: 20px;
  border: none;
  font-weight: 500;
  font-weight: 900;
  margin-left: 20px;
}

.getstarted_button:hover {
  background-color: rgb(192, 157, 16);
}

.getstarted_link {
  color: rgb(5, 4, 4);
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: inherit;
  font-weight: 600;
}

.learnmore_btn {
  margin-top: 5px;
  background-color: rgb(241, 201, 40);
  font-weight: 500;
  padding: 10px 20px;
  border: 2px solid rgb(241, 201, 40);
  border-radius: 8px;
  font-weight: 600;
  font-size: 22px;
  width: 202px;
  height: 60px;
}
.whatweoffer-hr {
  border-color: rgb(46, 153, 0);
  margin-top: 20px;
}

@media screen and (min-width: 767px) {
  .section1 {
    height: 400px;
  }

  .mission {
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
  }

  .whatweoffer-hr {
    margin-top: 20px;
  }

  .secondpic-aboutus {
    max-width: 300px;
  }

  .section1 {
    width: 100%;
    background: url("../../assets/welcomebackgrounimage.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative; /* Ensure relative positioning for absolute child */
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 28px; /* Adjust as needed */
  }

  .agritechlink {
    color: rgb(248, 200, 9);
  }

  .firstp {
    padding: 20px 20px 40px 20px;
  }

  .homepage_aboutus {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
