.nav {
  display: flex;
  padding: 10px 17px;
  justify-content: space-between;
  align-items: center;
  background: rgb(255, 255, 255);
}

.nav-logo img {
  width: 148px;
  height: 50px;
}
.nav-menu {
  display: none;
  list-style-type: none;
}

.nav-menu li {
  margin: 0 10px;
}

.nav-menu li .link {
  text-decoration: none;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding-bottom: 15px;
}

.link:hover,
.active {
  border-bottom: 2px solid #000;
  color: black;
}

.login-btn {
  /* height: 40px; Adjust height to match other items */
  padding: 5px 25px; /* Add padding to the button */
  align-items: center; /* Center content vertically */
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.1s ease;
  font-size: 14px;
  width: 100px;
  border: none;
}

.link{
  color: #000;
}

.signup-btn {
  /* height: 40px; Adjust height to match other items */
  padding: 5px 25px; /* Add padding to the button */
  font-weight: 600;
  background-color: rgb(241, 201, 40);
  border-radius: 7px;
  cursor: pointer;
  transition: 0.1s ease;
  font-size: 15px;
  width: 100px;
  border: none;
}

.nav-button {
  gap: 12px;
  display: none;
}

.login-btn a {
  color: rgb(241, 201, 40);
  text-decoration: none;
}

.signup-btn a {
  color: #000;
  text-decoration: none;
}

.login-btn:hover {
  background: rgba(255, 255, 255, 0.7);
}

.hamburger {
  border: none;
  background: white;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .nav-button,
  .nav-menu {
    display: block;
    display: flex;
  }

  .hamburger {
    display: none;
  }
}
