.contact-button:hover {
  background-color: rgba(229, 188, 8, 0.549);
  border: none;
}

.contact-paragraph {
  text-align: left;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 20px;
}

.text-area-container {
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}

.text-area {
  width: 100%;
  height: 150px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 0.8em;
  resize: horizontal;
}
.input {
  height: 30px;
  border: 1px solid rgb(176, 176, 176);
  border-radius: 5px;
  outline: none;
  transition: 0.2s ease;
  background: transparent;
  font-size: 12px;
  color: rgb(0, 0, 0);
  transition: 0.2s ease;
  display: flex;
  margin: 10px auto;
  align-items: center;
}
.contact-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.message-container {
  padding: 12px 100px 50px 10px;
}

.contact-container h3 {
  margin-bottom: 20px;
}

.contact-container p {
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.input-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.input-box img {
  margin-right: 10px;
}

.input-box input {
  border: none;
  outline: none;
  flex: 1;
}

.contact-button {
  padding: 8px 170px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 25px;
  background-color: rgb(241, 201, 40);
  color: rgb(0, 0, 0);
  font-weight: 900;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.contact-button:hover {
  background-color: rgb(251, 255, 0);
}

.custom-textarea {
  width: 500px; /* Fixed width */
  height: 200px; /* Fixed height */
  padding: 10px; /* Padding inside the textarea */
  border: 1px solid gray; /* Border style */
  border-radius: 4px; /* Rounded corners */
  resize: none; /* Prevent resizing */
}

@media (min-width: 768px) and (max-width: 1440px) {
  .contact-container {
    flex-direction: row;
    gap: 50px;
  }
}

@media (min-width: 1440px) {
  .contact-container {
    flex-direction: row;
    gap: 50px;
  }
}
