.footer {
  background: #216d00;
  padding: 28px 12px;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.logo-image {
  background-color: white;
  width: 120px;
}

.logo-image-text {
  color: white;
  font-size: 24px;
  font-weight: normal;
  margin-top: 5px;
  line-height: 1.5;
}

.list h5 {
  font-size: 24px;
  font-weight: 600;
  color: white;
  line-height: 20px;
  margin-bottom: 10px;
}

.none {
  display: none;
}

.the-list li {
  font-size: 22px;
  list-style: none;
  color: white;
  line-height: 25px;
  font-weight: 400;
}

.navigation {
  font-size: 24px;
}
.navigation {
  margin-right: 10px;
}

.footer-link {
  color: white;
  text-decoration: none;
  list-style: none;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .none {
    display: block;
  }

  .about-content {
    flex-direction: row;
    gap: 20px;
  }
}

@media (min-width: 1440px) {
  .none {
    display: block;
  }

  .about-content {
    flex-direction: row;
    gap: 20px;
  }
}
