.footer {
  background-color: rgb(25, 84, 0);
  padding: 28px 12px;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.logo-image {
  background-color: white;
  width: 120px;
}

.logo-image-text {
  color: white;
  font-size: 10.7px;
  font-weight: normal;
  margin-top: 5px;
  line-height: 1.5;
}

.list h5 {
  font-size: 14px;
  font-weight: 600;
  color: white;
  line-height: 20px;
  margin-bottom: 10px;
}

.none {
  display: none;
}

.the-list li {
  font-size: 10.87px;
  list-style: none;
  color: white;
  line-height: 25px;
  font-weight: 400;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .none {
    display: block;
  }

  .about-content {
    flex-direction: row;
    gap: 20px;
  }
}
