.footer {
  background-color: rgb(25, 84, 0);
  padding: 28px 12px;
}
.footer-content {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.logo-image {
  background-color: white;
  width: 120px;
}

.logo-image-text {
  color: white;
  font-size: 10.7px;
  font-weight: normal;
  margin-top: 5px;
  line-height: 1.5;
}

.list h5 {
  font-size: 14px;
  font-weight: 600;
  color: white;
  line-height: 20px;
  margin-bottom: 10px;
}
.the-list li {
  font-size: 10.87px;
  list-style: none;
  color: white;
  line-height: 25px;
  font-weight: 400;
}
